<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="material.min.css">
        <link rel="stylesheet" href="spinner.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Cep - React</title>
    </head>

    <body>

        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <!-- Desktop view -->
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row" style="padding-left: 2em; padding-right: 0">
                    <span class="mdl-layout-title">React API Cep</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" 
                            href="https://github.com/dleitee/react-cep"><i class="fa fa-github fa-3x" style="vertical-align: middle"></i></a>
                    </nav>
                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-phone"></div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--middle" id="content" style="text-align: center"></div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-phone"></div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="jquery.min.js"></script>
    <script src="material.min.js"></script>
    <script src="bundle.js"></script>
    
</html>
